<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/index/css/base.css">
    <link rel="stylesheet" href="__STATIC__/index/css/normalize.css">
    <link rel="stylesheet" href="__STATIC__/index/css/user.css">
    <script src="__STATIC__/index/js/flexible.js"></script>
</head>

<body>
<div class="header">
    <div class="head-title">
        <a href="javascript:;" onClick="javascript:history.back(-1);"><span class="iconfont">&#xe62a;</span></a>
        <span>首页</span>
    </div>
</div>




<div class="footer-nav">
    <a href="/">
        <span class="iconfont">&#xe60b;</span>
        <p>首页</p>
    </a>
    <a href="#">
        <span class="iconfont">&#xe661;</span>
        <p>客服</p>
    </a>
    <a href="/vip">
        <span class="iconfont">&#xe666;</span>
        <p>会员</p>
    </a>
    <a href="/user" class="onclick">
        <span class="iconfont">&#xe667;</span>
        <p>我的</p>
    </a>
</div>
</body>

</html>