<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/index/css/base.css">
    <link rel="stylesheet" href="__STATIC__/index/css/normalize.css">
    <link rel="stylesheet" href="__STATIC__/index/css/login.css">
    <script src="__STATIC__/index/js/flexible.js"></script>
</head>

<body>
    <div class="w">
        <div class="header">
            <h6>登录</h6>
            <p>获取手机验证码即可便捷登录</p>
        </div>
        <form action="#">
            <div class="tel">
                <input type="tel" placeholder="请输入手机号码" maxlength="11">
            </div>
            <div class="code">
                <input type="tel" placeholder="请输入验证码" maxlength="4">
                <a href="#">获取验证码</a>
            </div>
            <div class="btn">
                <button>立即登录</button>
            </div>
        </form>
        <div class="prompt">
            <p>未注册的手机号验证后自动创建账户</p>
        </div>
    </div>
</body>

</html>